<div [ngStyle]="{'display': isVisible ? '' : 'none'}" class="element-sidebar-wrapper ui-widget-content">
  <p-accordion>
    <p-accordionTab header="Draggable elements">
      <ul class="element-sidebar-list">
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'INPUT_TEXT')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="input text" icon="fa-font"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'INPUT_NUMBER')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="input number"
                  icon="fa-sort-numeric-asc"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'INPUT_PHONE')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="input phone"
                  icon="fa-phone"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'INPUT_CREDIT_CARD')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="input card"
                  icon="fa-credit-card"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'INPUT_SUM')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="input sum" icon="fa-money"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'DROPDOWN')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="dropdown"
                  icon="fa-sort-down"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'CHECKBOX')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="checkbox"
                  icon="fa-check-square-o"></button>
        </li>
        <li class="element-sidebar-item" pDraggable="fields" (onDragStart)="onDragStart($event, 'RADIO')">
          <button pButton class="element-sidebar-button ui-button-secondary" label="radio"
                  icon="fa-dot-circle-o"></button>
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</div>
