\:host /deep/
  .ui-panel
    height: 100%
  .ui-accordion
    .ui-accordion-header
      border: none

.element-sidebar

  &-wrapper
    width: 100%
    max-width: 200px
    height: 100%

  &-list
    list-style: none
    padding-left: 0


  &-button
    width: 100%
    margin-bottom: 5px
