<div [ngStyle]="{'display': isVisible ? '' : 'none'}" class="property-sidebar-wrapper">
  <p-panel header="Properties">
    <input type="text" pInputText [(ngModel)]="fieldModel.inputs.label" class="fit-to-parent"/>

    <button pButton type="button" label="Remove Field" (click)="removeField()"></button>
  </p-panel>
</div>
