<div class="form-reader-wrapper">
  <h2 class="form-reader-title" *ngIf="!!formTitle">{{ formTitle }}</h2>
  <div class="ui-widget-content form-reader-content" [ngStyle]="{ 'background-color': formColor}">
    <div class="form-reader-container" pDroppable="fields" (onDrop)="onDrop($event)">
      <ng-container *ngFor="let field of getFields()">
        <app-fields-factory [componentData]="field" (click)="selectField(field)"
                            class="form-reader-element"
                            [ngClass]="{'form-reader-element-disabled': isInBuilderMode}"></app-fields-factory>
      </ng-container>
    </div>

    <div *ngIf="isFormIdExist()">
      <div *ngIf="!!formId; else formWihoutId">Form id: <span>{{formId}}</span></div>
      <ng-template #formWihoutId>
        <span>Unfortunately, form has not already have the id</span>
      </ng-template>
    </div>
  </div>
</div>
