\ /deep/
  .form-reader
    &-element
      input, select, textarea
        width: 100%
      .ui-dropdown
        width: 100% !important

.form-reader

  &-wrapper
    padding: 20px

  &-content
    max-width: 800px
    padding: 20px
    margin: 0 auto

  &-container
    max-width: 80%
    margin: 0 auto
    min-height: 500px

  &-title
    margin-bottom: 20px
    text-align: center
    font-family: Roboto

  &-element
    position: relative
    display: block
    width: 100%
    margin: 10px 0
    padding: 20px

    &-disabled
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: rgba(white, 0.2)



