<div [ngStyle]="{'display': isVisible ? '' : 'none'}" class="form-settings-wrapper ui-widget-content">
  <p-accordion>
    <p-accordionTab header="Form properties">
      <div>
        <span>Background color : </span>
        <p-colorPicker format="hex" [(ngModel)]="backgroundColor" (onChange)="backgroundColorChanged($event)"></p-colorPicker>
      </div>
      <div>
        <span>Form color : </span>
        <p-colorPicker format="hex" [(ngModel)]="formColor" (onChange)="formColorChanged($event)"></p-colorPicker>
      </div>
      <div>
        <span>
          Title :
        </span>
        <input type="text" pInputText [(ngModel)]="title" (change)="updateFormTitle($event)"
               class="fit-to-parent"/>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
