.builder-wrapper
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: row

.left-sidebar

  &-wrapper
    position: absolute
    display: flex
    flex-direction: column
    top: 0
    left: 0
    width: 200px
    min-height: 100vh

  &-box
    display: block

    &-entire
      flex: 1 0 0

.workspace-wrapper
  width: 100%

.mode-switcher
  width: 100%
  text-align: center
  padding: 20px
