<div class="builder-wrapper" [ngStyle]="{ 'background-color': backgroundColor}">
  <div class="left-sidebar-wrapper">
    <button pButton type="button" label="Deploy" (click)="deployForm()"></button>
    <app-form-settings class="left-sidebar-box"></app-form-settings>
    <app-fielder class="left-sidebar-box left-sidebar-box-entire"></app-fielder>
  </div>

  <div class="workspace-wrapper">
    <div class="mode-switcher">
      <p-selectButton [options]="modes" (onChange)="changeMode($event)"></p-selectButton>
      <!--<p-inputSwitch onLabel="Constructor" offLabel="Preview""></p-inputSwitch>-->
    </div>
    <app-form-reader [isInBuilderMode]="isInBuilderMode"></app-form-reader>
  </div>

  <div *ngIf="isFieldSelected()">
    <app-field-editor [fieldModel]="getSelectedField()"></app-field-editor>
  </div>
</div>
